annotated-types==0.7.0
anyio
click==8.1.8
colorama==0.4.6
exceptiongroup==1.2.2
fastapi==0.115.12
h11==0.16.0
idna==3.10
pydantic
pydantic_core
python-dotenv
python-multipart
sniffio
starlette
typing-inspect
typing_extensions
uvicorn
fastapi_socketio